# We shall copy this file to .env on the server where we want JUNO to run

# Copernicus Marine credentials. If unset, JUNO will read the /data/copernicus_login.txt.
COPERNICUS_USERNAME=lfigueiredo1
COPERNICUS_PASSWORD=Nicolau.COLAB.1997

# AVISO eddies credentials.
EDDIES_USER=luis.leao.figueiredo.23@gmail.com
EDDIES_PASS=17PLqM

# Optional path overrides inside the container
JUNO_DATA_DIR=/data
JUNO_LOG_DIR=/logs
JUNO_COPERNICUS_LOGIN_FILE=/data/copernicus_login.txt
JUNO_ATLANTIC_SHAPEFILE=/data/atlantic_shapefile/aoi_atlantic_clip.shp
